body, html {
  height: 100%;
}

/*---------------------------------------------------------------------Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&display=swap');

/*---------------------------------------------------------------------Back to top button*/
#bButton {
  display: inline-block;
  background-color: #7dce94;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#bButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#bButton:hover {
  cursor: pointer;
  background-color: #f6f5f3;
}
#bButton:active {
  background-color: #f6f5f3;
}
#bButton.show {
  opacity: 1;
  visibility: visible;
}


/*---------------------------------------------------------------------Header*/

.header {
	margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f6f5f3;
    z-index: 100;
    
}
.title {
	font-family: 'Comfortaa', sans-serif;
	color: #3d3d3f;
	text-align: center;
	width: auto;
	font-size: 19px;
    padding-top: 10px;
    margin: 0px;
}
.nav-item {
	font-family: "Montserrat", sans-serif;
	font-size: 17px;
	padding: 0px;
	color: #3d3d3f;
}
.navbar-nav {
	margin: auto;
}
.socialIconsHeader {
	padding-right: 20px;
}
.socialIconsHeader i {
	text-align: end;
	width: 30px;
	font-size: 20px;
	color: #3d3d3f;
}
.socialIconsHeader i:hover {
	color: #7dce94;
}

/*---------------------------------------------------------------------HomePage*/
.homeImage{
    background-image: url("../pictures/homeImage.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    height: 100%;
    width: 100%;	
}
.homeText {
	text-align: center;
    margin: auto;
	margin-bottom: 40px;
    font-family: 'Comfortaa', sans-serif;
    color: #f9f8fd;
    font-size: 75px;
    padding-top: 280px;
    font-size: 6vw;
}
.indexText {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #3d3d3f;
    margin-top: 45px;
    margin-bottom: 45px;
}
.overviewTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #3d3d3f;
}
.overviewText{
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
    color: #3d3d3f;
}
.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f8fd;
    border: 2px solid #4CAF50;
    color: #3d3d3f;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px 60px 0px;
    cursor: pointer;
    vertical-align: baseline;
}
.buttonContact {
    padding: 15px;
    color: #3d3d3f;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background-color: #4CAF50;
    text-decoration: none;
    color: #f6f5f3;
    }
.button:active {
    background-color: #3d3d3f;
    box-shadow: 0 5px #f6f5f3;
    transform: translateY(4px);
    text-decoration: none;
    color: #f6f5f3;
}
.contactInfo {
    background-color: #f9f8fd;
    margin: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}
.contactContent{
    padding: 50px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    color: #3d3d3f;
    text-align: center;
    margin-top: 20px;
}
.phoneImageWrapper {
    width: 100%;
    height: auto;
    padding: 0;
}

/*---------------------------------------------------------------------Norrland*/
.youTubeWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: 80px;
}
.youTubeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lofotenTitle {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
	font-size: 40px;
	color: #7dce94;
    margin-top: 30px;
}
.lofotenText {
    font-family: 'Comfortaa', sans-serif;
	font-size: 15px;
	color: #49494B;
}
.lofotenImages {
    width: 100%;
    height: auto;
}

.hrNorth {
    margin: 50px;
}

div#map {min-height: 360px;}

/*---------------------------------------------------------------------West & East Coast Page*/


/*---------------------------------------------------------------------Contact*/
.contactForm {
	font-family: 'Montserrat', sans-serif;
    padding: 50px;
    color: #49494B;
    
}
.contactHeading {
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #7dce94;
    margin-top: 100px;
}
.contactText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #49494B;
}
.contactBoxWrapper{
    padding: 0;
}
@include media-breakpoint-up(sm) {
  .contactBoxWrapper {
    padding: 100px;
  }
}

.contactBox {
    border: solid #49494B 1px;
    box-sizing: content-box;
    padding: 30px;
}
.contactFormTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #49494B;
}
.contactButton {
    background-color: #7dce94;
    color: #f9f8fd;
    margin-top: 5px;
}
.form {
    font-family: 'Comfortaa', sans-serif;
    color: #49494B;
}


/*---------------------------------------------------------------------Footer*/
.footer {
   background-color: #f6f5f3;
   padding: 15px 0;
   grid-row-start: 2;
   grid-row-end: 3;
}
.footerTitle{
    font-family: 'Comfortaa', sans-serif;
	color: #49494B;
    font-size: 19px;
    padding-bottom: 5px;
    text-align: left;
}
.footerText{
    font-family: 'Montserrat', sans-serif;
	color: #49494B;
    padding-bottom: 5px;
    text-align: right;
}
.socialIconsFooter {
    text-align: center;
}
.socialIconsFooter i {
    color: #49494B;
    padding-bottom: 5px;
    width: 30px;
	font-size: 20px;
}

.socialIconsFooter i:hover {
	color: #7dce94;
    padding-bottom: 5px;
}