body, html {
  height: 100%;
}

/*---------------------------------------------------------------------Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&display=swap');


/*---------------------------------------------------------------------Header*/

.header {
	margin: 0;
}
.title {
	font-family: 'Comfortaa', sans-serif;
	color: #3d3d3f;
	margin: auto;
	height: auto;
	text-align: center;
	width: auto;
	padding-top: 15px;
	font-size: 15px;
}
.nav-item {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	padding: 0px;
	margin-top: 10px;
	color: #3d3d3f;
}
.navbar-nav {
	margin: auto;
}
.socialIconsHeader {
	height: 25px;
	padding-right: 20px;
}
.socialIconsHeader i {
	text-align: end;
	width: 30px;
	font-size: 20px;
	color: #3d3d3f;
}
.socialIconsHeader i:hover {
	color: #7dce94;
}

/*---------------------------------------------------------------------HomePage*/
.homeImage{
    background-image: url("../pictures/homeImage.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    height: 100%;
    width: 100%;	
}
.homeText {
	text-align: center;
    margin: auto;
	margin-bottom: 40px;
    font-family: 'Comfortaa', sans-serif;
    color: #f9f8fd;
    font-size: 75px;
    padding-top: 280px;
}
.indexText {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin: 45px 45px;
    color: #3d3d3f;
}
.overviewTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #3d3d3f;
}
.overviewText{
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
    color: #3d3d3f;
}
.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f8fd;
    border: 2px solid #4CAF50;
    color: #3d3d3f;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px 60px 0px;
    cursor: pointer;
    vertical-align: baseline;
}
.buttonContact {
    padding: 15px;
    color: #3d3d3f;
    text-align: center;
}
.button:hover {background-color: #4CAF50}
.button:active {
    background-color: #3d3d3f;
    box-shadow: 0 5px #f6f5f3;
    transform: translateY(4px);
}
.contactInfo {
    background-color: #f9f8fd;
    margin: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.contactContent{
    padding: 50px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    color: #3d3d3f;
    text-align: center;
    margin-top: 20px;
}
.phoneImageWrapper {
    width: 100%;
    height: auto;
}
.phoneImage {
    background-image: url("../pictures/phone.jpg");
	background-repeat: no-repeat;
	background-position: center;
    height: 100%;
    background-size: contain;
}
/*---------------------------------------------------------------------Norrland*/
.youTubeWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.youTubeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lofotenTitle {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
	font-size: 30px;
	color: #7dce94;
    margin-top: 30px;
}
.lofotenText {
    font-family: 'Comfortaa', sans-serif;
	font-size: 15px;
	color: #49494B;
}
.lofotenImages {
    width: 100%;
    height: auto;
}

.hrNorth {
    margin: 100px;
}

div#map {min-height: 360px;}

/*---------------------------------------------------------------------West & East Coast Page*/


/*---------------------------------------------------------------------Contact*/
.contactForm {
	font-family: 'Montserrat', sans-serif;
    padding: 50px;
    color: #49494B;
    
}
.contactHeading {
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #7dce94;
    margin-top: 50px;
}
.contactText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #49494B;
}
.contactBoxWrapper{
    padding: 100px;
}
.contactBox {
    border: solid #49494B 1px;
    box-sizing: content-box;
    padding: 60px;
}
.contactFormTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #49494B;
}
.contactButton {
    background-color: #7dce94;
    color: #f9f8fd;
}
.form {
    font-family: 'Comfortaa', sans-serif;
    color: #49494B;
}


/*---------------------------------------------------------------------Footer*/
.footer {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   font-size: 15px;
   height: 50px;
   background-color: #f6f5f3;
}
.footerTitle{
    font-family: 'Comfortaa', sans-serif;
	color: #49494B;
    font-size: 18px;
}
.footerText{
    font-family: 'Montserrat', sans-serif;
	color: #49494B;
}
span {
    margin-top: auto;
    margin-bottom: auto;
}
.socialIconsFooter i:hover {
	color: #7dce94;
}